
<section class="modal-container" data-modal="container">
    <div class="modal">
        <button data-modal="fechar" class="fechar">X</button>
        <form action="">
            <label for="email">Email</label>
            <input type="text" for="email" id="email">
            <label for="senha">Senha</label>
            <input type="password" for="senha" id="senha">
            <button type="submit">Entrar</button>
        </form>
    </div>
</section>
